* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

main {
    background: #01940b;
    width: 600px;
    height: 250px;
    display: grid;
    place-items: center;
    border-radius: 20px;
    box-shadow: 7px 5px 2px pink;
}

h1 {
    color: #fff;
    text-align: center;
}

.attribute {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range {
    position: relative;
    width: 80%;
    margin: 20px 0;
}

.range input {
    position: absolute;
    color: #000;
    top: -20px;
    margin: 0;
    padding: 0;
    height: 5px;
    width: 100%;
    z-index: 2; /* Keep the input sliders on top */
}

.range input.minimum {
    z-index: 3; /* Minimum slider should be above the maximum slider */
}

.range input.maximum {
    z-index: 2; /* Maximum slider should be below the minimum slider */
}

.slider {
    width: 80%;
    background: #ddd;
    height: 5px;
    border-radius: 50px;
    position: relative;
}

.progress {
    left: 0;
    background: red;
    height: 5px;
    border-radius: 50px;
    position: absolute;
    width: 100%;
    transition: width 0.3s ease;
}

input {
    color: #000;
}
